# PANDAS
Python library | data manipulation & analysis | help to process large dataset

!pip install pandas

In [1]:
import pandas as pd

# Data Structures
1. Series: one dimension labelled array
2. DataFrame: two dimension labelled datastructure

In [2]:
ls = [12.30,24,36,46,56,98,87]
series = pd.Series(ls)

In [3]:
print(series)

0    12.3
1    24.0
2    36.0
3    46.0
4    56.0
5    98.0
6    87.0
dtype: float64

In [4]:
type(series)

pandas.core.series.Series

In [6]:
df = pd.DataFrame({
    "username": ["kris", "ahsi","abs"],
"age": [22,23,21]
})
df

  username  age
0     kris   22
1     ahsi   23
2      abs   21

In [20]:
type(df)

pandas.core.frame.DataFrame

In [7]:
# load data in pandas
data = pd.read_csv("zim_test.csv")

In [8]:
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [10]:
data.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [12]:
data.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [14]:
data.sample()

    Duration  Pulse  Maxpulse  Calories
68        20    106       136     110.4

In [17]:
data.loc[68]

Duration     20.0
Pulse       106.0
Maxpulse    136.0
Calories    110.4
Name: 68, dtype: float64

In [18]:
data.iloc[163:167, :]

     Duration  Pulse  Maxpulse  Calories
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2

In [19]:
data.iloc[163:167, 0:3]

     Duration  Pulse  Maxpulse
163        45    100       140
164        60    105       140
165        60    110       145
166        60    115       145