# Importing

In [1]:
import pandas as pd

# Load Dataset
pd.read_csv------is a pandas function that reads a CSV file and loads its contents into a DataFrame for easy data manipulation and analysis.

In [39]:
data= pd.read_csv("zim_test.csv")
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
# head----displays the first 5 rows of a DataFrame by default
data.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [7]:
# tail----displays the last 5 rows of a DataFrame by default
data.tail()

     Duration  Pulse  Maxpulse  Calories
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [9]:
# shape------representing the dimensions of a DataFrame, indicating the number of rows and columns (rows, columns).
data.shape

(169, 4)

In [11]:
# shape[0]----gives the number of rows 
data.shape[0]

169

In [12]:
# shape[1]----gives the number of rows 
data.shape[1]

4

In [13]:
# columns-----returns the name of the columns
data.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [14]:
# dtypes-----shows the data type of each column
data.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [15]:
# info--provides a summary of a DataFrame, including the number of entries, column names, data types, and memory usage
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [16]:
# describe----generates descriptive statistics for the numerical columns in a DataFrame, including count, mean, standard deviation, minimum, maximum
data.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

# Access the specified column
1. data.column_name
2. data["column_name"]

In [17]:
data.Calories

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [18]:
data["Calories"]

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [19]:
data["Calories"][3]

282.4

# Data Cleaning

1. remove all rows that had null values
2. add a value at null cell positions

If a small percentage of the data is missing, removing rows may be fine. If a large portion is missing, consider imputation(adding values).

In [22]:
# # check missing values or null values
data[data.isnull().any(axis=1)]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [25]:
# 1) REMOVE
# dropna()----use to remove rows and columns that contain null values
# it creates new datafrmae with rows containing null values removed, but it doesn't modify the original dataframe
ab = data.dropna()
ab

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [26]:
#  inplace = True-----modify the original dataframe

data.dropna(inplace = True)

In [27]:
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [36]:
# 2) fillna()----add values at the place of null values


data1 = pd.read_csv("zim_test_2.csv")
# data1
# data1.info()
data1.fillna(100,inplace=True)

In [37]:
# data1["column_name"][index]------ retrieves the value in the specified column at the given index
data1["Calories"][17]

100.0